Repository HYF-Class21/agile-development-group2-hyf-redesign, pull requests merged in 2023-04, with the labels that each got.

#11 first draft of README
  README.md
Labels: md

#8 fixed package.json to enable spell-check run without errors
  package.json
Labels: bug

#6 Created User-personas
  planning/user-personas.md
Labels: md

#36 Added Header to Home page
  images/our-program.jpg
  index.html
  styles/index.css
Labels: css, html

#43 fixed links path by setting to relative
  index.html
Labels: bug, html

#50 fixet all nav links for support-us page & program-page
  index.html
  pages/program-page.html
  pages/support-us-page.html
Labels: bug, html

#52 Updated development-strategy
  README.md
  planning/development-strategy.md
Labels: md

#66 Our-program at Home page
  index.html
  styles/index.css
Labels: css, html

#76 Home mage: Our partners: added code
  images/logos/Bruxelles-Formation.png
  images/logos/DCD_logo.png
  images/logos/DSJC-Member-NEGATIVE-200px.png
  images/logos/EPITECH-TECHNOLOGY.png
  images/logos/UXAntwerp_logo-6e86ee4a1402927b7678ccf37c140e93.png
  images/logos/agoria.png
  images/logos/antwerp-stad.jpg
  images/logos/artevelde-hogeschool.svg
  images/logos/axes.png
  images/logos/bruxelles-emploi.svg
  images/logos/digital-belgium.svg
  images/logos/download.png
  images/logos/duo_logo.png
  images/logos/microsoft.svg
  images/logos/print-simple.svg
  images/logos/switch-right.svg
  images/logos/vbo_feb.png
  index.html
  styles/index.css
Labels: css, html

#88 Development-strategy : Some parts of Should-Haves are taken to Must-haves
  planning/development-strategy.md
Labels: md

#84 Home page: Added the statistic part of the page
  index.html
  styles/index.css
Labels: css, html

#87 Home page: Added Core values in home page
  images/commitment-aa0299dfdd887bc65d8e06877a7dce2e.svg
  images/community-2188ec4ef052fad53e5cf76f1d23e137.svg
  images/diversity-inclusiveness-446e4facafbbf0674d5ead3d2e03f042.svg
  images/open-2c0073e6b1b41d56a5140d3896c765c6.svg
  index.html
  styles/index.css
Labels: css, html

#94 first commit for contact-us homepage
  index.html
  styles/index.css
Labels: css, html

#97 updated development strategy
  planning/development-strategy.md
Labels: md

#103 Support-us page: fixed the error in the html file
  pages/support-us-page.html
Labels: css

#102 Updated Development strategy
  planning/development-strategy.md
  styles/index.css
Labels: md

#107 Support page:corrected some errors in introduction grid part
  pages/support-us-page.html
  styles/support-us-page.css
Labels: css, html

#116 Support us page donate part
  pages/support-us-page.html
  styles/support-us-page.css
Labels: css, html
